#commissionsMessage {
    text-align: center;
    color: var(--Text);
    font-family: var(--BodyFont);
    line-height: 2;
    font-size: 18px;
}

#sorry {
    text-align: center;
    color: var(--Text);
    margin-top: 1rem;
}