
/*--------------------------Tagline---------------------*/
@keyframes taglineFade {
    0% {opacity: 0%; transform: translateX(200px); }
    40% {opacity: 0%;}
    100% {opacity: 100%; transform: translateX(-100px);}
}
@keyframes bubbleFade {
    0% {opacity: 0%; transform: scale(.75);}
    100% {opacity: 100%;transform: scale(1);} 
}

#taglineLogo {
    display: grid;
    grid-template-columns: min-content 2fr;
    grid-template-rows: min-content;
    padding: 0 14%;
}
#bubbleLogo {
    grid-column: 1/2;
    height: 70%;
    width: auto;
    margin: 0;
    padding: 0;
    animation-name: bubbleFade;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
#taglineLogo h1 {
    grid-column: 2/3;
    font-family: var(--Comfortaa);
    color: var(--73406A);
    font-size: 3vw;
    align-content: center;
    padding: 0 0 0 1rem;
    margin: 0;
    animation-name: taglineFade;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
/*--------------------------About Me--------------------*/

#aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 2fr min-content;
    padding: 0 10%;
    row-gap: 1.5rem;
}
#aboutMe h2 {
    grid-column: 2/3;
    grid-row: 1/2;

}


#aboutArcContainer {
    grid-column: 1/2;
    grid-row: 1/4;
    position: relative;
    justify-content: center;
    display: flex;
}

#smallCircle {
    position: absolute;
    top: 4%;
    left: 15%;
    opacity: 0;
    scale: .75;
    z-index: 2;
    transform: translateY(0px);
    transition: opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

img:last-of-type {
  width: auto;
  height: 80%;
}

#aboutArcContainer:hover  #smallCircle {
   opacity: 1;
   transform: scale(.7); 
   transform: translateY(-30px);
}
#aboutMe p {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: var(--Bellota);
  color: var(--2F2F2F);
  padding: 5%;
  margin: 0;
  font-size: 1.5rem;
}

#aboutLinks {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

/*--------------------------Project Buttons--------------------*/
#jumpLinks {
  padding: 1rem;
  padding-bottom: 3rem;
}

#jumpLinkContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 4%;
}

#jumpLinks a {
  background-color: var(--B18AAB);
  background-image: linear-gradient(#B18AAB);
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-family: var(--Advent);
  font-size: 5vw;
  width: 20%;
  text-align: center;
  align-content: center;
  box-shadow: var(--boxShadow);
  padding: 5% 0;
  position: relative;
  overflow: hidden;
}


#jumpLinks a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.25s ease-in-out;
}

#jumpLinks a span {
  position: relative;
  z-index: 2;
}


#web::before {
  background-image: linear-gradient(rgba(115, 64, 106, 0.85)),url(Assets/Website/WRF/WRFlb.png);
  background-position: center;
}

#log::before {
  background-image: linear-gradient(rgba(115, 64, 106, 0.85)),url(Assets/Logo/OOA/OOAlb.png);
  background-position: center;
}

#art::before {
  background-image: linear-gradient(rgba(115, 64, 106, 0.85)),url(Assets/Artwork/MSClong.png);
}


#jumpLinks a:hover::before {
  opacity: 1;
}


/* #web:hover {
    background-image: linear-gradient(rgba(115, 64, 106, 0.85)), url(Assets/Website/WRF/WRFlb.png);
    background-position: center;
    opacity: 1;
}

#log:hover {
    background-image: linear-gradient(rgba(115, 64, 106, 0.85)), url(Assets/Logo/OOA/OOAlb.png);
    background-position: center;

}

#art:hover {
    background-image: linear-gradient(rgba(115, 64, 106, 0.85)), url(Assets/Artwork/MSClong.png);
} */

/*----------------------Skills----------------------------*/
#boxesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    padding: 0 2rem 2rem 2rem;
    column-gap: 2rem;
}
.skillBoxList {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    max-width: 600px;
    justify-self: center;
    width: 100%;
    padding: 0;
}

.skillBox {
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: var(--B18AAB); 
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillBox svg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 160px;
    opacity: .8;
}

.hoverBlurb {
    transition: all .4s linear;
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    margin-top: -40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    color: #fff;
    background-color: rgba(115,64,106,.8);
}

.skillBox:hover .hoverBlurb {
    top: 0;
    bottom: 0;
    margin-top: 0;
    padding: 15px;
    background-color: rgba(115,64,106,.8);
}

.hoverBlurb h3 {
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  font-size: clamp(10px, .80vw, 1.5rem);
  font-weight: 700;
  color: var(--ECE5EB);
  font-family: var(--Comfortaa);
  text-align: center;
  text-decoration: underline;
}


.innerBlurb {
  font-size: clamp(18px, .75vw, 1rem);
  font-family: var(--Advent);
}

#sideBlurb{
    grid-column: 2/3;
    padding: 0 5%;
    font-family: var(--Bellota);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: var(--2F2F2F);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto min-content auto;
}
#sideBlurb p{
    grid-row: 1/2;
    grid-column: 1/3;
    padding: 0 1rem;
    text-indent: .5rem each-line;
}
#sideBlurb h2 {
  text-decoration: underline;
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0;
}

#sideBlurb h2:last-of-type {
    grid-column: 2/3;
}

.skillsList {
    grid-column: 1/2;
    grid-row:3/4;
}

.skillsList:last-of-type {
    grid-column: 2/3;
}

/*-----------------------Media Queries-------------------*/
@media screen and (max-width: 600px) {

  #taglineLogo {
    display: flex;
    width: 100%;
    height: 12rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #taglineLogo h1 {
    grid-column: 2/3;
    font-family: var(--Comfortaa);
    color: var(--73406A);
    font-size: 3vw;
    padding: 0;
    animation: none;
}

#bubbleLogo {
  grid-column: 1/2;
  height: 70%;
  width: auto;
  margin: 0;
  padding: 0;
  animation: none;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    padding: 0;
    row-gap: 0;
}

#aboutArcContainer {
    display: none;
}

#aboutMe p {
  font-family: var(--Bellota);
  color: var(--2F2F2F);
  padding: 5%;
  margin: 0;
  font-size: 15px;
}

#aboutLinks {
    margin: 0;
    padding: 0;
}

}