
/*--------------------------Tagline---------------------*/
@keyframes bannerFade {
    0% {opacity: 0%; }
    100% {opacity: 100%;}
}
#taglineLogo {
    justify-self: center;
    margin: 0;
    border-radius: 5px;
    overflow: hidden;
    max-height: 600px;
    width: 100%;
    animation-name: bannerFade;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;    
}
#taglineLogo img {
    width: 100%;
    height: auto;
}



/*--------------------------About Me--------------------*/

#aboutMe {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content min-content;
    column-gap: 10%;
    height: 849px;
    background: var(--PrimaryLight);
}

#aboutMe h2 {
    grid-column: 2/3;
    grid-row: 1/2;

}

#aboutArcContainer {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 849px;
    box-shadow: 43px 33px 58px 0 rgba(9, 19, 24, .4);
    border-radius: 60px;
}

#aboutMe p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: var(--BodyFont);
    color: var(--PrimaryDark);
    padding: 5%;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

#aboutLinks {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-right: 10%;
}

/*--------------------------Project Buttons--------------------*/
#jumpLinks {
  padding: 1rem;
  padding-bottom: 3rem;
  background-color: #D9CBC2;
}

#jumpLinkContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0;
}

.transitionButtons {
    background-image: url(Assets/goldButton.png);
    position: relative;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    font-family: var(--InfoFont);
    width: 20%;
    text-align: center;
    align-content: center;
    box-shadow: var(--boxShadow);
    padding: 5% 0;
    overflow: hidden;
}

.transitionButtons span {
    z-index: 1;
    position: relative;
    color: var(--PrimaryLight);
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}

.transitionButtons::before {
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s ease-in-out;
}

#web::before { 
  background-image: url(Assets/Web.png); 
}
#graphic::before { 
  background-image: url(Assets/Graphic.png); 
}
#art::before { 
  background-image: url(Assets/Art.png); 
}

#web:hover::before,
#graphic:hover::before,
#art:hover::before { 
  opacity: 1; 
}



/*----------------------Skills----------------------------*/
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: var(--AccentBlack);
    padding: 1rem 0;
}

.skills h2 {
    grid-column: 2 / 3;
    color: var(--PrimaryLight);
}

#boxesContainer {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: min-content min-content;
    padding: 10px 2rem;
    gap: 2rem;
}

.skillBox {
    width: 340px;
    height: 340px;
    border-radius: 5px;
    text-align: center;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skillBox h3 {
    color: var(--PrimaryLight);
    font-family: var(--InfoFont);
    font-weight: 100;
}

#lightBlue {
    background-color: var(--AccentLight);
}
#midBlue {
   background-color: var(--PrimaryMid); 
}
#darkBlue {
   background-color: var(--PrimaryDark); 
}
#midGold {
   background-color: var(--AccentMid); 
}


#sideBlurb {
    grid-column: 2 / 3;
    padding: 0 5%;
    font-family: var(--BodyFont);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto min-content;
}

#sideBlurb p{
    grid-row: 1/2;
    grid-column: 1/3;
    padding: 0 1rem;
    text-indent: .5rem each-line;
    color: var(--PrimaryLight);
}
#sideBlurb h3 {
    text-decoration: underline;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
    margin-left: 1rem;
    color: var(--Icons);
}

#sideBlurb h3:last-of-type {
    grid-column: 2/3;
}

.skillsList {
    grid-column: 1/2;
    grid-row:3/4;
}

.skillsList:last-of-type {
    grid-column: 2/3;
}

.skillsList li {
  color: var(--Text);
}



/*-----------------------Media Queries-------------------*/
@media screen and (max-width: 600px) {

  #taglineLogo {
    display: flex;
    width: 100%;
    height: 12rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #taglineLogo h1 {
    grid-column: 2/3;
    font-family: var(--SecondaryFont);
    color: var(--73406A);
    font-size: 3vw;
    padding: 0;
    animation: none;
}

#bubbleLogo {
  grid-column: 1/2;
  height: 70%;
  width: auto;
  margin: 0;
  padding: 0;
  animation: none;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    padding: 0;
    row-gap: 0;
    height: 500px;
}

#aboutArcContainer {
    display: none;
}

#aboutMe p {
  font-family: var(--BodyFont);
  color: var(--PrimaryDark);
  padding: 5%;
  margin: 0;
  font-size: 15px;
}

#aboutLinks {
    margin: 0;
    padding: 0;
}

#jumpLinkContainer {
    gap: 15%;
}

#jumpLinks a {  
width: 50%;
border-radius: 10px;
}
.transitionButtons span {
    font-size: 6vw; 
}

.skills {
    display: block;
}

.skillBoxList {
display: none;
}

#sideBlurb {
    font-family: var(--BodyFont);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: var(--Text);
    display: flex;
    flex-direction: column;
    padding: 10px;
}



#boxesContainer {
    display: none;
}

.skillBoxList {
display: none;
}

#ulBox h2 {
  color: var(--785A73);
  font-weight: 700;
}

#ulBox ul li {
  color: var(--Text);
  font-weight: 700;
  font-family: var(--SecondaryFont);
}

}