@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Capriola&family=Questrial&display=swap');
*{
    box-sizing: border-box;
}

:root {
    --background: linear-gradient(to bottom, #49011D, #901030);
    --PrimaryLight: #ffffff;
    --PrimaryMid: #6A0724;
    --PrimaryDark: #280010;

    --AccentLight:#C63B5E;
    --AccentMid:#971132;
    --AccentDark: #1E121A;

    --SectionTransparent: rgba(0,0,0,0.25);


    --boxShadow: -18px 12px 0px 20px rgba(46, 24, 49, 0.25);
    --innerShadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25) inset;

    --LogoFont: "Capriola";
    --HeaderFont: "Amiko";
    --InfoFont: "Questrial";
    --BodyFont: "Bellota Text";

}

.wordmark {
    font-family: var(--LogoFont);
    font-size: 4vw;
    color: #fff;
    text-decoration: none;
    grid-column: 1 / 2;
}
#Rachel, #Vi, #Design {
    transition: color 0.25s ease;
}

.wordmark:hover #Rachel {
    color: var(--PrimaryLight);
}

.wordmark:hover #Vi {
    color: var(--PrimaryMid);
}
.wordmark:hover #Design {
    color: var(--PrimaryDark);
}

h2 {
    font-family: var(--LogoFont);
    color: #fff;
    font-size: 6vw;
    text-align: right;
    padding-right: 10%;
    font-weight: 300;
    margin: 0;
}
h3 {
    font-family: var(--HeaderFont);
    color: var(--PrimaryLight);
}
.catLeft {
    text-align: left;
}


.icon {
   fill: var(--AccentLight); 
   filter: drop-shadow(4px 4px 4px 4px rgba(0, 0, 0, 0.25));
   transition: fill ease-in-out .25s;
}
.icon:hover {
    fill: var(--AccentMid);
}

body {
    background-color: var(--background);
}

section {
    margin: 10% 0;
}

section p {
    font-family: var(--BodyFont);
    color: #fff;
}

.backButton {
    background-color: var(--PrimaryMid);
    border-radius: 600px;
    padding: 5px;
    transition: background-color 0.25s ease-in-out;
}
.backButton:hover {
    background-color: var(--PrimaryDark);
}
/*------------------Nav Bar-------------------*/
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    padding: 0 2%;
    margin-bottom: 3%;
}
nav p{
    grid-column: 1/2;
    color: var(--PrimaryLight);
}
nav ul {
    grid-column: 2 / 3;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    font-family: var(--InfoFont);
    margin: 0;
    padding: 0;
}

nav ul li {
    align-content: center;
    font-size: 2rem;
    
}

nav ul li a{
    color:  #fff;
    transition: color ease-in-out .25s;
    font-weight: 300;
}
nav ul li a:hover {
    color: var(--PrimaryDark);
}

nav svg {
    display: none;
}
/*--------------------------CTA Banner--------------------*/
.ctaBanner {
    background-image: linear-gradient(to right, #46001C, #951131);
    display: grid;
    grid-template-rows: auto;
    margin: 0 0 10% 0;
    padding: 0;
}

.ctaBanner p {
    grid-column: 1 / 2;
    font-family: var(--InfoFont);
    color: white;
    font-size: 68px;
    padding: 1rem;
    margin: 0;
}
.bannerButton {
    grid-column: 2 / 3;
    text-decoration: none;
    justify-self: center;
    align-self: center;
    color: #fff;
    font-size: 64px;
    font-family: var(--LogoFont);
    background-color: var(--AccentDark);
    border-radius: 25px;
    box-shadow: var(--boxShadow);
    text-align: center;
    transition: background-color .25s ease-in-out;
    padding: 1rem;
}

* 
.bannerButton:hover {
    background-color: #43254e;
}
/*------------------Footer--------------------*/
footer {
    background-image: none;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto;
    margin: 0;
    padding: 1rem;
    box-shadow: none;
}

.leftFoot {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
}

#footerSVGs {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20%;
}

#footerLinks {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    font-size: 2vw;
    font-family: var(--InfoFont);
    color: #fff;
}

#copyright {
    grid-row: 3 / 4;
    text-align: center;
    margin: 0;
    padding: 0;
    align-content: end;
    font-size: 1.5rem;
    font-family: var(--InfoFont);
    color: var(--PrimaryDark);
}

.rightFoot {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 2px;
}

#vertWordmark {
    grid-row: 1 / 4;
    margin: 0;
    color: #fff;
    text-align: right;
}

.footerImg {
grid-column: 6/7;
  grid-row: 1/4;
  margin: 0;
  padding: 0;
  align-content: center;
}

footer ul {
    list-style: none;
}
footer a {
    transition: color 0.25s ease-in-out;
    color: #fff;
    font-weight: 300;
}
footer a:hover {
    color: var(--PrimaryDark);
}



#R{
    fill: var(--PrimaryDark);
}

#V {
    fill: var(--AccentLight);
}

#I {
    fill: var(--AccentMid);
}

#mobileWordmark {
    display: none;
}